# Dépendances
node_modules/
**/node_modules/

# Build
frontend/dist/
dist/

# Environnement (Fichiers secrets)
.env
.env.*
frontend/.env*

# Divers
.DS_Store
.vscode/
Login_System/
Calculator-Project/
frontend/public/fichiers/CV_*.pdf
conv.md