<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /27_SAOUD/
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /27_SAOUD/index.html [L]
</IfModule>