@import 'tailwindcss';
@import '@fontsource-variable/oswald/wght.css';
@import '@fontsource/space-grotesk';

/* ═══════════════════════════════════════════════ */
/*              THÈME CUSTOM PORTFOLIO             */
/* ═══════════════════════════════════════════════ */

@theme {
  --color-bg-primary: #101010;
  --color-bg-secondary: #1e1e1e;
  --color-accent: #2db129;
  --color-accent-hover: #4da44d;
  --color-text-primary: #ffffff;
  --color-text-secondary: #dedede;
  --color-border: #1e1e1e;
  --color-success: #54d200;
  --color-btn-blue: #47c9ff;
  --color-btn-blue-shadow: #38b0e6;
  --font-mono: 'Fira Code', monospace;
}

@layer base {
  /* ─── Reset & Base ─────────────────────────────── */
  * {
    margin: 0;
    padding: 0;
  }

  html {
    height: 100%;
  }

  body {
    font-family: var(--font-mono);
    background-color: var(--color-bg-primary);
    color: var(--color-text-primary);
    margin:0;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    letter-spacing: 0.2px;
    cursor: url("./assets/cursor.png"), auto;
  }

  #root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  h1{
    font-family: 'Oswald Variable', sans-serif;
  }

  .oswald-font{
    font-family: 'Oswald Variable', sans-serif;
  }

  .grotesk-font{
    font-family: 'Space Grotesk', sans-serif;
  }

  p{
    font-family: 'Space Grotesk', sans-serif;
  }

  a {
    text-decoration: none;
    color: inherit;
  }
  a:hover {
    cursor: url("./assets/cursor.png"), pointer !important;
  }

  button {
    cursor: url("./assets/cursor.png"), pointer !important;
  }

  img {
    display: block;
  }
}

/* ─── Utilitaires ──────────────────────────────── */
.green-text {
  color: var(--color-accent);
}

.macha-text-green {
  color:  #abff84;
}

.macha-bg-green {
  background:  #abff84;
}

/* ─── Scrollbar custom ─────────────────────────── */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: var(--color-bg-secondary);
}
::-webkit-scrollbar-thumb {
  background: var(--color-accent);
  border-radius: 4px;
}

